*{
    background-color: rgb(255, 248, 248);
}

body {
    margin: 0;
}

p, ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: inherit;
}

h1 {
    border-style: hidden hidden solid hidden;
    border-width: 2px;
    background-color: inherit;
}

h2, h3, h4, small, b, strong, i, dl, dd, dt, kbd, audio, img, div{
    background-color: inherit;
}

span {
    background-color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
}

span:hover {
    color: rgb(72, 72, 72);
}

a {
    color: red;
    background-color: inherit;
}

a:visited {
    color: maroon;
    background-color: inherit;
}

footer {
    padding-left: 10px;
    margin-bottom: 10px;
    border-style: solid hidden hidden hidden;
    border-width: 2px;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.projheadercontainer.projheader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: hidden;
    border-width: 1px;
    max-width: 90%;

    display: inline;
    order: 1;
}

.projheadercontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    border-style: hidden hidden solid hidden;
}

.projentry {
    background-color: lightgray;
    border-style: solid solid solid solid;
    border-width: 1px;
    padding: 10px;
    margin-top: 10px;
}

.projheadercontainer > button {
    color: black;
    background-color: inherit;
    border-style: hidden;
    width: 40px;
    height: 40px;

    order: 2;
}

.projentrycontent {
    background-color: inherit;
}

.projdesc {
    background-color: inherit;
}

a.navlink {
    padding: 30px;

    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: maroon;

    flex: 30%;
}

a.navlink:hover {
    background-color: rgb(92, 0, 0);
}

a.navlink:active {
    color: white;
    background-color: rgb(180, 140, 140);
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    background-color: maroon;
    width: 100%;
}

#navicon {
    height: 60px;
    width: 60px;
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

#projcontainer {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    #projcontainer {
        flex-direction: column;
    }
    #navbar {
        flex-direction: column;
    }
    a.navlink{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}

#contentbar {
    flex: 17%;
    background-color: rgb(70, 70, 70);

    color: lightgray;
    display: flex;
    flex-direction: column;
}

#contentbar > a {
    background-color: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: inherit;
    text-decoration: none;

    padding: 10px;
    padding-left: 20px;
}

#contentbar> a.sublink {
    padding-left: 40px;
}

#contentbar > a:hover {
    background-color: rgb(50, 50, 50);
}

#content {
    flex: 75%;
    padding-left: 20px;
    margin-right: 20px;
}

#scrbutton {
    width:50px;
    height:50px;
    position: fixed;
    bottom: 121px;
    left: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;

    border-style: hidden;

    opacity: 20%;
}

#scrbutton:hover {
    opacity: 100%
}

#scrbutton:active {
    background-color: black;
    color: white;
}

.projgallery {
    max-width: 600px;
    max-height: 650px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallerysel {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    button {
        margin: 10px;

        border-style: hidden;
        background-color: inherit;
        color: rgb(149, 113, 23);
        font-size: large;
    }

    .selbuttons {
        display: flex;
        flex-direction: row;
    }

    .defbutton {
    color: black;
}
}

.galleryframe {
    max-width: 600px;
    height: 500px;
    display: flex;

    border-style: solid;
    border-color: rgb(149, 113, 23);
    background-color: black;
}

.galleryimg {
    max-width: 100%;
    max-height: 100%;;

    margin: auto;
    justify-content: center;

    border-style: hidden;
    border-width: 4px;
    border-color: rgb(149, 113, 23);
}