*{
    background-color: rgb(255, 248, 248);
}

body {
    margin: 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: inherit;
}

h1 {
    border-style: hidden hidden solid hidden;
    border-width: 2px;
    background-color: inherit;
}

h2, h3, h4, small, b, strong, i, dl, dd, dt, kbd, audio{
    background-color: inherit;
}

span {
    background-color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
}

span:hover {
    color: rgb(72, 72, 72);
}

a {
    color: red;
    background-color: inherit;
}

a:visited {
    color: maroon;
    background-color: inherit;
}

footer {
    padding-left: 10px;
    margin-bottom: 10px;
    border-style: solid hidden hidden hidden;
    border-width: 2px;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.projheadercontainer.projheader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: hidden;
    border-width: 1px;
    max-width: 90%;

    display: inline;
    order: 1;
}

.projheadercontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    border-style: hidden hidden solid hidden;
}

.projentry {
    background-color: lightgray;
    border-style: solid solid solid solid;
    border-width: 1px;
    padding: 10px;
    margin-top: 10px;
}

.projheadercontainer > button {
    color: black;
    background-color: inherit;
    border-style: hidden;
    width: 40px;
    height: 40px;

    order: 2;
}

.projentrycontent {
    background-color: inherit;
}

.projdesc {
    background-color: inherit;
}

a.navlink {
    padding: 30px;

    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: maroon;

    flex: 30%;
}

a.navlink:hover {
    background-color: rgb(92, 0, 0);
}

a.navlink:active {
    color: white;
    background-color: rgb(180, 140, 140);
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    background-color: maroon;
    width: 100%;
}

#navicon {
    height: 60px;
    width: 60px;
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

#projcontainer {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    #projcontainer {
        flex-direction: column;
    }
    #navbar {
        flex-direction: column;
    }
    .navlink{
        width: 100%;
    }
}

#contentbar {
    flex: 17%;
    background-color: rgb(70, 70, 70);
    padding-left: 10px;

    color: lightgray;
}

#contentbar > dl > dd > a,
#contentbar > dl > dt > a {
    background-color: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: inherit;
    text-decoration: none;
}

#contentbar > dl > dd {
    padding: 10px;
    margin: 0px;
    padding-left: 30px;
}

#contentbar > dl > dd:hover {
    background-color: rgb(50, 50, 50);
}

#contentbar > dl > dt {
    padding: 10px;
    color: inherit;
}

#contentbar > dl > dt:hover {
    background-color: rgb(50, 50, 50);
}

#content {
    flex: 75%;
    padding-left: 20px;
    margin-right: 20px;
}

#scrbutton {
    width:50px;
    height:50px;
    position: fixed;
    bottom: 121px;
    left: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;

    border-style: hidden;

    opacity: 20%;
}

#scrbutton:hover {
    opacity: 100%
}

#scrbutton:active {
    background-color: black;
    color: white;
}